h1{
   color: #960FE3;
   text-align: center;
}

button{
   border-radius: 5px;
   color: #960FE3;
   background-color: black;
   font-size: 21px;
   float: left;
   padding: 15px;
   margin-left: 70px;
   margin-top: 50px;
   font-size: 50px;
   box-shadow: 10px 10px 10px;
}

@media (hover: hover) {
  button:hover {
    background: red;
  }
}