p1{
	color: blue;
}

p2{
	color: red;
}

div{
	padding: 80px;
	margin: auto;
	border: solid blue;
	height: 100px;
	width: 200px;
    background-color: yellow;
    text-align: center;
}